<section id="newsletter" class="bg-dark">
    <div class="container text-white text-center py-4">
      <p class="lead">SIGN UP WITH YOUR EMAIL FOR FREE MODELS MONTHLY</p>
      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <form action="" class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Email">
          <div class="input-group-append">
            <button class="btn btn-primary">Join Now</button>
          </div>
        </div>
      </form>  
      
        </div><p class="text-muted col-12">The newsletter will also contain links to other artists' stuff as well as tutorials and other resources that I think may help others</p>
      </div>
      
    </div>
  </section>



  <section id="footer" class="bg-footer">
      <ul class="nav text-center justify-content-center flex-column flex-sm-row">
        <li class="nav-item">
          <a href="#" class="nav-link text-white">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#explore" class="nav-link text-white">EXPERIENCE</a>
        </li>
        <li class="nav-item">
          <a href="#explore" class="nav-link text-white">EXPLORE</a>
        </li>
        <li class="nav-item">
          <a href="#newsletter" class="nav-link text-white">CONTACT</a>
        </li>
      
      </ul>
    </section>

    
    