<!doctype html>
<html lang="en">
  <head>
    <title>Simbstudio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../style.css">
</head>
  <body>

    <div class="overlay" style="height:2000px">

    </div>



<nav id="mainNavbar" class="navbar navbar-expand-md navbar-dark mb-5">
  <a class="navbar-brand" href="#" ><i class="fab fa-stripe-s fa-lg"></i>imbstudio</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-home    "></i> Home</a></li>
        <li class="nav-item  text-white d-md-none d-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#about" class="nav-link"><i class="fas fa-question    "></i> About</a></li>
          <div class="dropdown-menu navDropText" aria-labelledby="dropdownMenuButton">
            <p class="d-md-none p-0 text-light">I'm a 3d modeller based out of Kingston, Ontario Canada. With a focus on a uniquely quick and efficient workflow. I'm always working on something new. These are some examples of things I've done recently.</p>
        </div>
        <li class="nav-item"><a href="#mainContent" class="nav-link"><i class="fas fa-file    "></i> Portfolio</a></li>
        <li class="nav-item"><a href="#newsletter" class="nav-link"><i class="fas fa-at    "></i> Contact</a></li>
        
      </ul>
    </div>
  </nav>

  <section id="showcase" class="d-flex justify-content-center align-items-center">
      
 <div id="overlay"></div>
        
        
  
          <div class="container text-white text-center  my-5" id="header">
<div class="row">
          <div class="col-12 col-md-8 order-2">
            <div class="col-12 text-center d-block display-4 text-white pb-0 emphasis">Welcome to <p class="bold logo"><i class="fab fa-stripe-s"></i>imbstudio</p> </div>
            <hr class="bg-white w-50">
            <p class="lead d-none d-md-block w-50 m-auto w-100">I'm a 3d modeller based out of Kingston, Ontario Canada. With a focus on a uniquely quick and efficient workflow. I'm always working on something new. These are some examples of things I've done recently.</p>
            <div class="col-12"><img  class="text-right signature" src="../imgs/signature.png" alt=""></div>
          </div>
            <div class="d-none d-md-block col-md-4 border border-secondary rounded-pill" style="background-image: url('https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80'); background-size: cover;"></div>
            

           </div>
          </div>
        </div>
          </div>

          
        
      </section>

      
      <section id="quotes">
        <div class="container text-center mt-4">
          <h3 class="emphasis">SOME REVIEWS BY MY FRIENDS AND FAMILY</h3>
          <div class="row justify-content-around text-center" id="quoteRows">
            
          </div>
        </div>
      </section>


<!-- Where the Magic Happens -->
    <section id="mainContent" class="mb-5">
        <div class="container">
          <div class="row mt-2 mb-4">
            <hr class="border border-secondary col-12 mt-4">
            <div class="display-3 mb-2 mb-5 mx-auto border-bottom border-dark emphasis">Portfolio <i class="fas fa-briefcase    "></i></div>
           <p class="lead col-12 text-center">A random assortment of some of my recent models</p>
          </div>
            <div class="row justify-content-around text-center" id="cardRows">
                <!-- Where the Magic Happens -->
            </div>
      </div>

    </section>

    <section id="newsletter" class="bg-dark">
    <div class="container text-white text-center py-4">
      <p class="lead">SIGN UP WITH YOUR EMAIL FOR FREE MODELS MONTHLY</p>
      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <form action="" class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Email">
          <div class="input-group-append">
            <button class="btn btn-primary">Join Now</button>
          </div>
        </div>
      </form>  
      
        </div><p class="text-muted col-12">The newsletter will also contain links to other artists' stuff as well as tutorials and other resources that I think may help others</p>
      </div>
      
    </div>
  </section>



  <section id="footer" class="bg-footer">
      <ul class="nav text-center justify-content-center flex-column flex-sm-row">
        <li class="nav-item">
          <a href="#" class="nav-link text-white">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#explore" class="nav-link text-white">EXPERIENCE</a>
        </li>
        <li class="nav-item">
          <a href="#explore" class="nav-link text-white">EXPLORE</a>
        </li>
        <li class="nav-item">
          <a href="#newsletter" class="nav-link text-white">CONTACT</a>
        </li>
      
      </ul>
    </section>
    

    <!-- <div w3-include-html="../partials/footer.html"></div> -->
    <script src="../applyHeaderAndFooter.js"></script>

    <script type="module" src="../items.js"></script>
    <script type="module" src="../addItemsToHtml.js"></script>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../interactions.js"></script>   
    
</body>
</html>